{% extends 'base.html' %}
{% load static %}

{% block title %}Hakkımda - TPAC{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        background-color: #f4f4f4;
    }

    header {
        display: flex;
        align-items: center;
        padding: 20px 0;
        background: #000000;
        color: #cdbe70;
        border-bottom: 3px solid #cdbe70;
        box-shadow: 0 4px 6px #000000;
    }

    .header-title {
        flex-grow: 1;
        text-align: center;
    }

    h1, h2 {
        color: #cdbe70;
    }

    section {
        margin: 20px 0;
        padding: 20px;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid #cdbe70;
        box-shadow: 0 4px 6px #000000;
    }
    section:hover {
        transform: translateY(-5px);
    }
    section ul li {
        font-size: medium;
        padding: 5px;
    }

    footer {
        text-align: center; 
        margin-top: 20px;
        font-size: 0.9em; 
        color: #35424a;
    }

    .box{
        padding: 20px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        color: #000;
        background: #ffffff;
        font-family: sans-serif;
        margin-bottom: 5%;
        border-bottom: 3px solid #cdbe70;
        box-shadow: 0 4px 6px #000000;
        overflow: hidden;
        border-radius: 8px;
    }
    
    .box img{
        width: 150px; 
        height: auto;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    
    .box img:hover{
        transform: scale(0.9);
    }
    
    .box h1{
        font-size: 40px;
        font-weight: 200;
        letter-spacing: 2px;
        color:rgb(0, 0, 0);
        
    }
    
    .box h3{
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 2px;
        color:rgb(0, 0, 0);
    
    }
    
    .box ul{
        color:rgb(0,0,0);
    }
    
    .box ul li {
        display: inline-block;
        list-style: none;
        background: #ffffff; 
        margin: 5px 0;
        padding: 10px;
        border-radius: 5px;
        transition: background 0.3s;
        color: #000;
    }
    
    .box ul li:hover {
        background: #cdbe70;
    }
    
    .box ul li a{
        color: rgb(0,0,0);
        font-size: 60px;
        transition: all ease-in-out 250ms;
    }
    .box ul li a:hover{
        color: rgb(255, 255, 255) ;
    }

    @media (max-width: 600px) {
        body {
            padding: 10px;
        }
    
        header {
            padding: 15px 0;
        }
    
        section {
            padding: 15px;
        }
    
        h2 {
            font-size: 1.5em;
        }
    
        .box {
            padding: 15px;
        }
    }
</style>
{% endblock %}

{% block content %}
<header>
    <div class="header-title">
        <h1>Hakkımda ve Proje Tanıtımı</h1>
        <p>Merhaba! Ben Hüseyin TUNGA. Bu sayfa, "Text Processor and Classifier" projesi hakkında tüm bilgileri içermektedir.</p>
    </div>
</header>

<section>
    <h2>Proje Hedefi</h2>
    <p>"Text Processor and Classifier" projesi, metin işleme ve sınıflandırma işlemlerini kolaylaştırmak ve kullanıcıların metinlerini verimli bir şekilde analiz etmelerine olanak tanımak için tasarlandı.</p>
    <ul>
        <li>Metin temizleme ve özellik çıkarma işlemleri.</li>
        <li>CSV dosyalarının sınıflandırılması ve işlenmesi.</li>
        <li>Kendi sınıflandırma modellerinizi oluşturma ve eğitme.</li>
        <li>İngilizce ve Türkçe metinlerde sınıflandırma.</li>
    </ul>
</section>

<section>
    <h2>Proje Özellikleri</h2>
    <ul>
        <li><strong>Metin İşleme:</strong>
            <ul>
                <li>Noktalama işaretlerini kaldırma, özel karakter temizleme, küçük/büyük harfe dönüştürme işlemleri.</li>
                <li>Durdurma kelimelerini çıkarma ("ve", "ama", "ile" gibi).</li>
                <li>Kökleme (Stemming) ve lemmatizasyon ile kelimelerin kök formuna indirgenmesi.</li>
            </ul>
        </li>
        <li><strong>CSV İşleme:</strong>
            <ul>
                <li>CSV dosyalarının yüklenmesi ve seçilen sütunlarda metin işlemleri uygulanması.</li>
                <li>İşlenmiş CSV dosyasını indirme imkânı.</li>
            </ul>
        </li>
        <li><strong>Sınıflandırma:</strong>
            <ul>
                <li>Eğitilmiş modeller kullanılarak İngilizce ve Türkçe metinlerin sınıflandırılması.</li>
                <li>Metinlerin diline göre en uygun sınıflandırma modelinin seçilmesi.</li>
            </ul>
        </li>
        <li><strong>Kendi Modellerinizi Oluşturma:</strong>
            <ul>
                <li>Varsayılan veya özel dataset kullanarak sınıflandırma modelleri oluşturma.</li>
                <li>TF-IDF, Count Vectorizer gibi vektörleştiriciler ve farklı algoritmalarla model eğitimi.</li>
                <li>Model performansını doğruluk, precision, recall ve F1-Score ile değerlendirme.</li>
            </ul>
        </li>
        <li><strong>Model Performans Raporlama:</strong>
            <ul>
                <li>Eğitim sonrası doğruluk oranı, precision, recall ve F1-Score gibi metriklerin detaylı raporlanması.</li>
                <li>Türkçe ve İngilizce metinler için ayrı ayrı performans sonuçları.</li>
            </ul>
        </li>
        <li><strong>Kullanıcı Dostu Arayüz:</strong>
            <ul>
                <li>Basit ve anlaşılır tasarım ile işlemleri kolaylaştırma.</li>
                <li>Responsive arayüz sayesinde tüm cihazlarda uyumlu çalışma.</li>
            </ul>
        </li>
        <li><strong>API Kullanımı:</strong>
            <ul>
                <li>Google Translate API ile dil tespiti ve gerektiğinde çeviri işlemleri.</li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>Model Performans Raporu</h2>
    <p>Projede, geliştirici tarafından oluşturulmuş iki adet metin sınıflandırma modeli bulunmaktadır.</p>
    <h3>İngilizce metin verileri ile eğitilmiş model metrikleri</h3>
    <ul>
        <li><strong>Doğruluk:</strong> %83</li>
        <li><strong>Makro Ortalama Precision:</strong> %84</li>
        <li><strong>Makro Ortalama Recall:</strong> %82</li>
        <li><strong>Makro Ortalama F1-Score: </strong>%83</li>
    </ul>
    <h3>Türkçe metin verileri ile eğitilmiş model metrikleri</h3>
    <ul>
        <li><strong>Doğruluk:</strong> %95</li>
        <li><strong>Makro Ortalama Precision:</strong> %95</li>
        <li><strong>Makro Ortalama Recall:</strong> %95</li>
        <li><strong>Makro Ortalama F1-Score:</strong> %95</li>
    </ul>
</section>

<section>
    <h2>Kullanım Kılavuzu</h2>
    <section>
        <h3>1. Metin İşleme</h3>
        <p>Ana sayfa üzerinden aşağıdaki işlemleri gerçekleştirebilirsiniz:</p>
        <ul>
            <li><strong>Metni kutucuğa yazın veya yapıştırın:</strong> İstenilen metni manuel olarak yazabilir veya kopyala-yapıştır yöntemiyle kutucuğa yerleştirebilirsiniz.</li>
            <li><strong>Aşağıdaki işlemlerden birini veya birkaçını seçin:</strong></li>
            <ul>
                <li><strong>Noktalama İşaretlerini Kaldır:</strong> Metindeki tüm noktalama işaretlerini temizler. Bu işlem metnin daha temiz ve işlenebilir olmasını sağlar.</li>
                <li><strong>Özel Karakterleri Kaldır:</strong> Metinden gereksiz özel karakterleri çıkarır. Örneğin, "$", "@", "#", vb. gibi semboller metnin anlamını bozan unsurlar olabilir ve bu işlemle temizlenir.</li>
                <li><strong>Küçük/Büyük Harfe Dönüştür:</strong> Metni tamamen küçük harflere veya tamamen büyük harflere dönüştürür. Bu işlem, metin üzerinde bir tutarlılık sağlamaya yardımcı olur, özellikle karşılaştırmalar için faydalıdır.</li>
                <li><strong>Durdurma Kelimelerini Kaldır:</strong> Gereksiz kelimeleri ("ve", "ama", "the", "a" gibi) kaldırır. Bu kelimeler genellikle dilin akışında önemli bir rol oynamaz, bu nedenle metni temizlerken çıkarılır. Dil türüne göre (Türkçe ya da İngilizce) uygun durdurma kelimeleri listesi kullanılır. Örneğin, Türkçede "ve", "ama", İngilizcede ise "the", "is" gibi kelimeler çıkarılır.</li>
                <li><strong>Kökleme (Stemming):</strong> Kelimeleri köklerine indirir. Bu işlem, dil bağımsız olarak uygulanır, ancak Türkçe ve İngilizce metinlerde farklı sonuçlar verebilir. Örneğin, "yazmak" kelimesi "yaz" köküne indirgenebilir. Kökleme işlemi, dilin kurallarına göre değil, kelimenin en kısa formuna göre yapılır.</li>
                <li><strong>Lemmatizasyon:</strong> Kelimeleri, dil bilgisine uygun kök forma dönüştürür. Bu işlem, dil türüne bağlı olarak farklılık gösterir. Türkçe ve İngilizce metinlerde farklı lemmatizasyon kuralları uygulanır. Örneğin, İngilizce "running" kelimesi "run" olarak lemmatize edilirken, Türkçe "gidiş" kelimesi "git" köküne dönüştürülebilir. Lemmatizasyon, dil bilgisi açısından anlamlı ve doğru kelimeler elde etmek için gereklidir.</li>
                <li><strong>Sınıflandırma:</strong> Dil türüne göre, yalnızca İngilizce ve Türkçe metinler sınıflandırılabilir. Diğer dillerde sınıflandırma işlemi gerçekleşmez. Eğer metin İngilizce veya Türkçe ise, metnin anlamına göre bir sınıf tahmin edilir (örneğin, duygu analizi ya da konu sınıflandırması gibi). Diğer diller için sınıflandırma işlemi yapılmaz.</li>
            </ul>
            <li><strong>Sonuçları bir kutucuk içinde görüntüleyebilir ve panoya kopyalayabilirsiniz:</strong> İşlem sonrasında elde edilen sonuçlar, kullanıcıya bir kutu içinde gösterilir. Sonuçlar daha sonra kullanıcı tarafından kolayca panoya kopyalanabilir.</li>
        </ul>
    </section>    
    
    <section>
        <h3>2. CSV Verilerini İşleme</h3>
        <p>"CSV Verilerini İşle" sekmesi üzerinden aşağıdaki adımları takip edebilirsiniz:</p>
        <ul>
            <li><strong>CSV Dosyası Yükleme:</strong> İşlenecek verileri içeren CSV dosyasını yükleyin. Bu, verilerin sistemde analiz edilebilmesi için gerekli olan ilk adımdır.</li>
            <li><strong>Sütun Seçimi:</strong> Dosyadaki verilerden hangilerinin işleneceğine karar verin. Bu işlem için sütun veya sütunları seçebilirsiniz. Örneğin, "Metin" sütununu seçerek sadece metin verilerini işlemek isteyebilirsiniz.</li>
            <li><strong>Metin İşleme İşlemleri:</strong> Seçtiğiniz sütunlardaki verileri yukarıda açıklanan işlemlerden bir veya birden fazlasını seçerek işleyebilirsiniz.</li>
            <li><strong>Sonuçları İndirme:</strong> İşlem sonrasında elde edilen verileri CSV formatında bilgisayarınıza indirebilirsiniz. Bu, işlemin tamamlanıp çıktının kaydedilmesini sağlar.</li>
        </ul>
    </section>

    <section>
        <h3>3. CSV Verilerini Sınıflandırma</h3>
        <p>"CSV Verilerini Sınıflandır" sekmesi üzerinden aşağıdaki adımları takip ederek verilerinizi sınıflandırabilirsiniz:</p>
        <ul>
            <li><strong>Dosya Yükleme:</strong> Sınıflandırılacak verileri içeren CSV dosyasını yükleyin. Bu işlem, verilerin sistemde analiz edilebilmesi için gerekli olan ilk adımdır. Dosya yükleme işlemi başarılı olduğunda, içerik otomatik olarak sisteme aktarılır ve işlenmeye hazır hale gelir.</li>
            <li><strong>Sütun Seçimi:</strong> Sınıflandırmak istediğiniz verileri içeren sütun'a veya sütunlar'a karar verin. Bu işlem için sütun veya sütunları seçebilirsiniz.</li>
            <li><strong>Sınıflandırmayı Başlatma:</strong> Seçilen sütunlardaki verileri sınıflandırmaya başlamak için "Sınıflandırmayı Başlat" butonuna tıklayın. Seçtiğiniz sütunlardaki veriler, dil türüne göre backend tarafında değerlendirilir. Uygulama yalnızca Türkçe ve İngilizce dillerini destekler. Eğer metin Türkçe veya İngilizce değilse, sınıflandırma işlemi gerçekleşmez ve "Tahmin yapılamadı" veya "Dil desteklenmiyor" gibi bir sonuçla karşılaşırsınız. Bu sınıflandırma sonucu, döndürülen CSV dosyasında gözlemlenebilir.</li>
            <li><strong>Sonuçları İndirme:</strong> Sınıflandırma işleminden sonra tahmin edilen sınıfları içeren CSV dosyasını indirebilirsiniz. İndirilen dosya, sınıflandırılmış metinlerinizi ve her metnin ait olduğu sınıf bilgilerini içerir.</li>
        </ul>
    </section>

    <section>
        <h3>4. Kendi Modellerinizi Oluşturma</h3>
        <p>"Kendi Sınıflandırma Modelini Oluştur" sekmesi üzerinden aşağıdaki senaryoları takip edebilirsiniz:</p>
    
        <section>
            <h4>Uygulamanın Mevcut Datasetini Kullanmak İstiyorum</h4>
            <p>Bu senaryoyu seçtiğinizde, uygulamanın mevcut datasetlerinden birini kullanarak modelinizi oluşturabilirsiniz:</p>
            <ul>
                <li><strong>Dataset Seçimi:</strong> Türkçe veya İngilizce datasetlerinden birini seçin.</li>
                <li><strong>Model Bileşenlerini Seçme:</strong> Modelinizin bileşenlerini seçin. Varsayılan olarak belirlenmiş bileşenler, uygulamanın datasetleri ile denenmiş ve en iyi sonucu vermiş olan modelin bileşenleridir.</li>
                <li><strong>Modeli Eğitme:</strong> Seçtiğiniz bileşenlerle model eğitilecek ve performans metrikleri gösterilecektir.</li>
            </ul>
            <p>Sonrasında şu seçenekler sunulacaktır:</p>
            <ul>
                <li><strong>Evet, Tahmin Yaptırmak İstiyorum:</strong> Tahmin yapmak için verilerinizi yükleyin ve sınıfları tahmin ettirin.</li>
                <li><strong>Hayır, Modeli Tekrar Oluşturmak İstiyorum:</strong> Yeni model oluşturmak için yeniden model oluşturma adımlarını takip edin.</li>
            </ul>
        </section>
    

        <section>
            <h4>Kendi Datasetimi Kullanmak İstiyorum</h4>
            <p>Bu senaryoyu seçtiğinizde, kendi verisetinizi yükleyerek modelinizi oluşturabilirsiniz:</p>
            <ul>
                <li><strong>Eğitim Veriseti Yükleme:</strong> Kendi datasetinizi CSV dosyası olarak yükleyin.</li>
                <li><strong>Etiket Sütunu Seçme:</strong> Dataset'inizdeki etiket sütununu seçin.</li>
                <li><strong>Veri Dağılımını Dengeleme:</strong> Dağılım dengesizliklerini giderebilir veya verinizi olduğu gibi kullanabilirsiniz.</li>
                <ul>
                    <li><strong>En Az Veri İçeren Sınıfları Kaldır:</strong>
                        <p>Veri setinizdeki etiket türlerinin içerdiği veri sayılarının ortalaması hesaplanacak. Ortalamanın altında veri sayısına sahip etiket türleri veri setinden çıkarılacaktır.</p>
                    </li>
                    <li><strong>Dağılımı Dengele:</strong>
                        <p>Tüm etiket türlerinin veri sayısı, en az veri sayısına sahip etiket türünün veri sayısına indirgenecektir. Bu işlem, veri setinizin dağılımını dengelemeye yardımcı olacaktır.</p>
                    </li>
                    <li><strong>Olduğu Gibi Kullan:</strong>
                        <p>Veri setinizdeki mevcut veri dağılımı olduğu gibi kullanılacaktır. Veri setinizdeki dengesizlikler veya farklılıklar korunacaktır.</p>
                    </li>
                </ul>
                <li><strong>Model Bileşenlerini Seçme:</strong> Modelinizin bileşenlerini seçin. Varsayılan olarak belirlenmiş bileşenler, uygulamanın datasetleri ile denenmiş ve en iyi sonucu vermiş olan modelin bileşenleridir.</li>
                <li><strong>Modeli Eğitme:</strong> Seçtiğiniz bileşenlerle model eğitilecek ve performans metrikleri gösterilecektir.</li>
            </ul>
            <p>Sonrasında şu seçenekler sunulacaktır:</p>
            <ul>
                <li><strong>Evet, Tahmin Yaptırmak İstiyorum:</strong> Tahmin yapmak için verilerinizi yükleyin ve sınıfları tahmin ettirin.</li>
                <li><strong>Hayır, Modeli Tekrar Oluşturmak İstiyorum:</strong> Yeni model oluşturmak için yeniden model oluşturma adımlarını takip edin.</li>
            </ul>
        </section>
    </section>    
</section>

<section>
    <h2>Kullanılan Teknolojiler</h2>
    <ul>
        <li><strong>Backend:</strong> Python, Django</li>
        <ul>
            <li><strong>Python:</strong> Veri işleme ve model eğitimi için kullanılan güçlü bir programlama dili.</li>
            <li><strong>Django:</strong> Hızlı geliştirme ve temiz, pragmatik tasarım için bir web framework'ü.</li>
        </ul>
        <li><strong>Frontend:</strong> HTML, CSS, Bootstrap</li>
        <ul>
            <li><strong>HTML:</strong> Sayfanın temel yapısını oluşturmak için kullanıldı.</li>
            <li><strong>CSS:</strong> Sayfa tasarımı ve görsel düzenlemeler için kullanıldı.</li>
            <li><strong>Bootstrap:</strong> Responsive tasarım ve kullanıcı dostu bir arayüz sağlamak için kullanıldı.</li>
        </ul>
        <li><strong>Makine Öğrenimi:</strong> Sınıflandırıcılar ve veri işleme araçları</li>
        <ul>
            <li><strong>Sınıflandırıcılar:</strong></li>
            <ul>
                <li>Destek Vektör Makineleri (SVM)</li>
                <li>Rastgele Orman (Random Forest)</li>
                <li>Logistic Regression</li>
                <li>Naive Bayes</li>
                <li>Karar Ağaçları (Decision Trees)</li>
                <li>K-En Yakın Komşu (K-Nearest Neighbors)</li>
                <li>Gradient Boosting</li>
            </ul>
            <li><strong>Vectorizerler:</strong></li>
            <ul>
                <li>TF-IDF Vectorizer</li>
                <li>Count Vectorizer</li>
                <li>Hashing Vectorizer</li>
            </ul>
        </ul>
        <li><strong>API:</strong> Google Translate API</li>
        <ul>
            <li><strong>Çeviri ve Dil Tespiti:</strong> Kullanıcı metinlerinin dilini algılama ve gerektiğinde çeviri yapma.</li>
        </ul>
        <li><strong>Ek Araçlar ve Teknolojiler:</strong></li>
        <ul>
            <li><strong>Veri İşleme:</strong> Pandas, NumPy</li>
            <li><strong>Görselleştirme:</strong> Matplotlib, Seaborn</li>
            <li><strong>Model Kaydetme ve Yükleme:</strong> Joblib</li>
            <li><strong>Logging ve Hata Yönetimi:</strong> Python Logging Modülü</li>
        </ul>
    </ul>
</section>


<div class="box">
    <img src="{% static 'img/HuseyinTUNGA.jpg' %}" alt="Hüseyin TUNGA">
    <h1>Hüseyin TUNGA</h1>
    <h3>Software Engineer & AI/Data Scientist</h3>
    <ul>
        <li><a href="https://github.com/HUSEYINTUNGA" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/h%C3%BCseyin-tunga-248177252/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/huseyn_tng/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        <li><a href="mailto:tunga@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope"></i></a></li>          
    </ul> 
</div>

<footer>
    <p>Tüm hakları saklıdır &copy; 2024 Hüseyin TUNGA</p>
</footer>
{% endblock %}
