{% extends 'base.html' %}
{% load static %}
{% block title %}Text Processing - Homepage{% endblock %}

{% block extra_css %}
<style>
    .container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    h1 {
        text-align: center;
    }

    form {
        width: 100%;
        max-width: 600px;
    }

    textarea.form-control {
        width: 100%;
        padding: 10px;
        border: 2px solid #ced4da;
        border-radius: 8px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        background-color: #f8f9fa;
    }

    textarea.form-control:focus {
        border-color: #000000;
        box-shadow: 0 4px 6px #cdbe70;
        outline: none;
    }

    textarea.form-control:hover {
        border-color: #cdbe70;
        box-shadow: 0 4px 10px rgb(0,0,0);
    }

    .checkbox-group {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .form-check-label {
        margin-top: 10px;
        font-size: 16px;
        transition: transform 0.3s ease, font-weight 0.3s ease;
    }

    .form-check-label:hover {
        transform: translateY(-2px);
        font-weight: bold;
    }

    button {
        margin-top: 20px;
        width: 100%;
        background-color: rgb(0,0,0);
        border-bottom: 5px solid #cdbe70;
        box-shadow: 0 4px 10px #080808;
        color:#cdbe70;
        transition: background-color 0.3s ease, border-bottom-color 0.3s ease;
    }

    button:hover {
        background-color: #cdbe70;
        border-bottom-color: rgb(0,0,0);
        color: #000000;
        transform: translateY(-2px);
    }

    .processed-text-container {
        display: none;
        width: 100%;
        max-width: 600px;
        margin-top: 20px;
        padding: 15px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    textarea.processed-text {
        width: 100%;
        margin-bottom: 10px;
    }


    .notification {
        display: none;
        margin-top: 10px;
        background-color: #d4edda;
        color: #155724;
        padding: 10px;
        border: 1px solid #c3e6cb;
        border-radius: 4px;
        text-align: center;
    }

    .classification-result {
        display: none;
        text-align: center;
        margin-top: 20px;
    }

    .alert.alert-danger {
        display: none;
        width: 100%;
        max-width: 600px;
        text-align: center;
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Text Processor and Classifier</h1>

    <form id="textProcessorForm" method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <textarea class="form-control" name="text" placeholder="Yazmak istediğiniz metni buraya girin lütfen." rows="5"></textarea>
        <div class="checkbox-group">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="remove_punctuation"> Noktalama İşaretlerini Kaldır</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="remove_special_chars"> Özel Karakterleri Kaldır</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="convert_to_lowercase"> Küçük Harfe Dönüştür</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="convert_to_uppercase"> Büyük Harfe Dönüştür</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="remove_stopwords"> Durdurma Kelimelerini Kaldır</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="stemming"> Kökleme (Stemming)</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="lemmatization"> Lemmatizasyon</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="classify_text"> Sınıflandır</label>
        </div>

        <button class="buton" type="button" onclick="validateAndProcess(event)">Metni İşle</button>
    </form>

    <div class="processed-text-container">
        <h2>İşlenmiş Metin</h2>
        <textarea class="form-control processed-text" readonly></textarea>
        <button class="button copy-button" onclick="copyToClipboard()">Kopyala</button>
        <div class="notification" id="notification" style="display: none;">Metin panoya kopyalandı!</div>
    </div>

    <div class="classification-result">
        <h2>Metin Sınıfı: <span id="classificationText"></span></h2>
    </div>

    <div id="errorContainer" class="alert alert-danger" style="display:none; text-align: center;"></div>

</div>
{% endblock %}

{% block extra_js %}
<script>
    function validateAndProcess(event) {
        event.preventDefault();
    
        const textArea = document.querySelector('textarea[name="text"]');
        const checkboxes = document.querySelectorAll('.checkbox-group input[type="checkbox"]');
        const errorContainer = document.getElementById('errorContainer');
        errorContainer.style.display = 'none';
    
        if (textArea.value.trim() === '') {
            errorContainer.innerText = 'Lütfen bir metin girin.';
            errorContainer.style.display = 'block';
            return;
        }
    
        let isChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
        if (!isChecked) {
            errorContainer.innerText = 'Lütfen en az bir işlem seçin.';
            errorContainer.style.display = 'block';
            return;
        }
    
        const isUpperChecked = document.querySelector('input[name="convert_to_uppercase"]').checked;
        const isLowerChecked = document.querySelector('input[name="convert_to_lowercase"]').checked;
    
        if (isUpperChecked && isLowerChecked) {
            errorContainer.innerText = 'Lütfen sadece bir işlem seçin: Büyük Harfe Dönüştür veya Küçük Harfe Dönüştür.';
            errorContainer.style.display = 'block';
            return;
        }
    
        processAllData();
    }
    
    function processAllData() {
        const form = document.getElementById('textProcessorForm');
        const formData = new FormData(form);
    
        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Bir hata oluştu.');
            }
            return response.json();
        })
        .then(data => {
            if (data.processed_text) {
                document.querySelector('.processed-text').value = data.processed_text;
                document.querySelector('.processed-text-container').style.display = 'block';
                if (data.classification_result) {
                    document.getElementById('classificationText').innerText = data.classification_result;
                    document.querySelector('.classification-result').style.display = 'block';
                }
            } else {
                displayError(data.error || 'Bir hata oluştu.');
            }
            clearInputs();
        })
        .catch(error => displayError(error.message));
    }
    
    function displayError(message) {
        const errorContainer = document.getElementById('errorContainer');
        errorContainer.innerText = message;
        errorContainer.style.display = 'block';
    }
    
    function copyToClipboard() {
        const processedText = document.querySelector('.processed-text');
        navigator.clipboard.writeText(processedText.value)
            .then(() => {
                const notification = document.getElementById('notification');
                notification.style.display = 'block';
                
                
                setTimeout(() => { 
                    notification.style.display = 'none'; 
                    const processedTextContainer = document.querySelector('.processed-text-container');
                    processedTextContainer.style.display = 'none';
                    const classificationResult = document.querySelector('.classification-result');
                    classificationResult.style.display = 'none';
                }, 2000);
            })
            .catch(err => console.error('Panoya kopyalanamadı:', err));
    }
    
    function clearInputs() {
        document.querySelector('textarea[name="text"]').value = '';
        const checkboxes = document.querySelectorAll('.checkbox-group input[type="checkbox"]');
        checkboxes.forEach(checkbox => checkbox.checked = false);
    }
</script>
{% endblock %}
